openapi: 3.2.0
info:
  title: ETD@IISc DSpace REST Communities API
  description: Read-only machine-readable REST API exposed by the ETD@IISc Electronic Theses and Dissertations repository, which runs on DSpace 6.
  version: '6.0'
  contact:
    name: API Evangelist
    url: https://etd.iisc.ac.in/
servers:
- url: https://etd.iisc.ac.in/rest
  description: ETD@IISc DSpace 6 REST API
tags:
- name: Communities
paths:
  /communities:
    get:
      tags:
      - Communities
      summary: List communities
      description: Returns the array of top-level and child communities in the repository.
      operationId: listCommunities
      parameters:
      - $ref: '#/components/parameters/expand'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: A list of community objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Community'
  /communities/{communityId}:
    get:
      tags:
      - Communities
      summary: Get a community
      operationId: getCommunity
      parameters:
      - $ref: '#/components/parameters/communityId'
      - $ref: '#/components/parameters/expand'
      responses:
        '200':
          description: A single community object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Community'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: The requested resource was not found.
  schemas:
    MetadataEntry:
      type: object
      description: A single Dublin Core metadata field on an item.
      properties:
        key:
          type: string
          description: Qualified DC key (for example dc.contributor.advisor).
        value:
          type: string
        language:
          type:
          - string
          - 'null'
        element:
          type: string
        qualifier:
          type:
          - string
          - 'null'
        schema:
          type: string
    Collection:
      allOf:
      - $ref: '#/components/schemas/DSpaceObject'
      - type: object
        properties:
          logo:
            $ref: '#/components/schemas/Bitstream'
          parentCommunity:
            $ref: '#/components/schemas/Community'
          parentCommunityList:
            type: array
            items:
              $ref: '#/components/schemas/Community'
          items:
            type: array
            items:
              $ref: '#/components/schemas/Item'
          license:
            type:
            - string
            - 'null'
          copyrightText:
            type: string
          introductoryText:
            type: string
          shortDescription:
            type: string
          sidebarText:
            type: string
          numberItems:
            type: integer
    DSpaceObject:
      type: object
      description: Common base fields shared by DSpace REST resources.
      properties:
        uuid:
          type: string
          format: uuid
        name:
          type: string
        handle:
          type: string
          description: Persistent handle identifier (for example 2005/141).
        type:
          type: string
        link:
          type: string
          description: Relative REST path to this resource.
        expand:
          type: array
          items:
            type: string
    Bitstream:
      allOf:
      - $ref: '#/components/schemas/DSpaceObject'
      - type: object
        properties:
          bundleName:
            type: string
          description:
            type:
            - string
            - 'null'
          format:
            type: string
          mimeType:
            type: string
          sizeBytes:
            type: integer
            format: int64
          parentObject:
            $ref: '#/components/schemas/Item'
          retrieveLink:
            type: string
            description: Relative path to download the file content.
          checkSum:
            type: object
            properties:
              value:
                type: string
              checkSumAlgorithm:
                type: string
          sequenceId:
            type: integer
          policies:
            type:
            - array
            - 'null'
            items:
              type: object
    Item:
      allOf:
      - $ref: '#/components/schemas/DSpaceObject'
      - type: object
        properties:
          lastModified:
            type: string
            description: Timestamp of the last modification.
          archived:
            type: boolean
          withdrawn:
            type: boolean
          parentCollection:
            $ref: '#/components/schemas/Collection'
          parentCollectionList:
            type: array
            items:
              $ref: '#/components/schemas/Collection'
          metadata:
            type: array
            items:
              $ref: '#/components/schemas/MetadataEntry'
          bitstreams:
            type: array
            items:
              $ref: '#/components/schemas/Bitstream'
    Community:
      allOf:
      - $ref: '#/components/schemas/DSpaceObject'
      - type: object
        properties:
          logo:
            $ref: '#/components/schemas/Bitstream'
          parentCommunity:
            $ref: '#/components/schemas/Community'
          copyrightText:
            type: string
          introductoryText:
            type: string
          shortDescription:
            type: string
          sidebarText:
            type: string
          countItems:
            type: integer
          collections:
            type: array
            items:
              $ref: '#/components/schemas/Collection'
          subcommunities:
            type: array
            items:
              $ref: '#/components/schemas/Community'
  parameters:
    limit:
      name: limit
      in: query
      description: Maximum number of records to return.
      required: false
      schema:
        type: integer
        default: 100
    offset:
      name: offset
      in: query
      description: Number of records to skip for pagination.
      required: false
      schema:
        type: integer
        default: 0
    communityId:
      name: communityId
      in: path
      required: true
      description: UUID of the community.
      schema:
        type: string
        format: uuid
    expand:
      name: expand
      in: query
      description: Comma-separated list of sub-resources to inline in the response (for example metadata,bitstreams,collections,subcommunities).
      required: false
      schema:
        type: string
x-generated: '2026-09-01'
x-method: generated
x-source: 'API Evangelist-authored. Modelled on the documented DSpace 6 REST contract and confirmed against https://etd.iisc.ac.in/rest during the 2026-06-03 enrichment run. IISc publishes no machine-readable OpenAPI of its own; this is our description of its DSpace deployment, not a provider-published artifact. Re-probed 2026-09-01: host returns 502 (see info.description).'
x-host-status:
  probed: '2026-09-01'
  url: https://etd.iisc.ac.in/rest
  status: 502
  method: probed
  detail: Re-probed 2026-09-01 with a browser User-Agent. Every path on etd.iisc.ac.in — /, /rest, /rest/communities, /rest/items, /handle/2005/1 and /oai/request — returns HTTP 502 with a 165-byte "The website is under maintenance" body, on three consecutive attempts. The Internet Archive holds no successful capture of the host after 2026-05-16. This contract is retained as the record of an institution-operated DSpace 6 deployment, not as a currently callable surface.
